.reaction-1hd86g {
	border-radius: .25rem;
	box-sizing: border-box;
	border-style: none;
}
.reaction-1hd86g {
	border-radius: .25rem;
	margin-right: .125rem;
	margin-bottom: .125rem;
	background: var(--background-modifier-accent);
}
.reactionInner-15NvIl {
	padding: 0 .375rem;
}
.reactionCount-2mvXRV {
	color: var(--text-muted);
}
.reaction-1hd86g.reactionMe-wv5HKu {
	background-color: rgba(162, 183, 255, 0.3);
}
.reactionMe-wv5HKu .reactionCount-2mvXRV,
.reactionMe-wv5HKu:hover .reactionCount-2mvXRV,
.reaction-1hd86g.reactionMe-wv5HKu .reactionCount-2mvXRV {
	color: #7289da;
}
